$color-primary: #000;
$color-secondary: #000;
$color-dark: #000;
$color-white: #fff;
$color-accent: #fff;

$breakpoint_xs: '576px';
$breakpoint_sm: '768px';
$breakpoint_md: '991px';
$breakpoint_lg: '1200px';
$breakpoint_xl: '1400px';

$font-family-secondary: 'Arial', sans-serif;
$font-family-primary: 'Arial', sans-serif;

$transition-time: 0.3s;
