.bonuses__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  @include media-max($breakpoint-md) {
    grid-template-columns: 1fr;
  }
}

.bonus {
  display: grid;
  grid-template-columns: minmax(59px, 66px) minmax(min-content, 250px);
  column-gap: 20px;
  align-items: center;
  &__img {
    display: inline-block;
  }
  &__text {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    strong {
      font-weight: 700;
    }
  }
}
