.menu {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    column-gap: 27px;
    @include media-max($breakpoint-sm) {
      display: none;
    }
  }
  &__item {
    color: $color-white;
  }
  &__link {
    padding: 11px 0;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    color: inherit;
    text-decoration: none;
    transition: text-decoration $transition-time;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}
