@import 'normalize.css/normalize';

@include focus-visible;

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  height: 100%;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100%;
  font-family: $font-family-primary;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: $color-accent;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.no-scroll {
  overflow: hidden;
}

.page-content {
  flex-grow: 1;
}

.page-title {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.35;
  color: $color-white;

  @include media-max($breakpoint-sm) {
    font-size: 16px;
    line-height: 21px;
  }
  p {
    margin: 0;
    font-size: 50px;
    @include media-max($breakpoint-lg) {
      font-size: 40px;
    }
    @include media-max($breakpoint-md) {
      font-size: 32px;
    }
    @include media-max($breakpoint-sm) {
      font-size: 30px;
      line-height: 39px;
    }
  }
}
